// Variables
$primaryColor: #10e02f;
$textColor: #444;
$btnColor: #fff;

* {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-decoration: none;
	box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
	color: #111;
	letter-spacing: 1.8px;
	padding: 10px 5px;
	font-family: Roboto, Oxygen;
}
p {
	padding: 5px;
	color: $textColor;
	line-height: 35px;
}
img {
	width: 100%;
}
body {
	font-size: 19px;
	overflow-x: hidden;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

// MIXINS
@mixin preloader {
	.sbl-sticks-spin {
		height: 48px;
		width: 4px;
		background: #ffffff;
		position: relative;
		display: inline-block;
		border-radius: 5px;
		animation: animateSticks1 3s ease infinite;
	}
	.sbl-sticks-spin::before,
	.sbl-sticks-spin::after {
		height: inherit;
		width: inherit;
		content: '';
		display: block;
		background: inherit;
		position: absolute;
		border-radius: 4px;
	}
	.sbl-sticks-spin::before {
		left: 0;
		animation: animateSticks2 1s 0.5s ease infinite;
	}
	.sbl-sticks-spin::after {
		right: 0;
		animation: animateSticks3 1s 1s ease infinite;
	}

	@keyframes animateSticks1 {
		0% {
			transform: rotate(0deg);
		}
		25% {
			transform: rotate(-90deg);
		}
		50% {
			transform: rotate(180deg);
		}
		75% {
			transform: rotate(90deg);
		}
		100% {
			transform: rotate(0);
		}
	}

	@keyframes animateSticks2 {
		0% {
			transform: rotate(0deg);
		}
		50%,
		100% {
			transform: rotate(55deg);
		}
	}

	@keyframes animateSticks3 {
		0% {
			transform: rotate(0deg);
		}
		50%,
		100% {
			transform: rotate(115deg);
		}
	}

	@keyframes rotate {
		0% {
			transform: rotate(0);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}
@mixin flex($justify: center) {
	display: flex;
	align-items: center;
	justify-content: $justify;
}
@mixin grid($cols...) {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: $cols;
}
@mixin gridcontent($cols...) {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax($cols));
}
@mixin heading {
	position: relative;
	&::after {
		content: '';
		width: 80px;
		height: 3px;
		position: absolute;
		left: 0;
		bottom: 8px;
		margin-left: 10px;
		background: $primaryColor;
	}
}
@mixin formstyle {
	width: 96%;
	display: grid;
	max-width: 340px;
	align-items: center;
	input,
	textarea,
	button {
		width: 100%;
		padding: 8px;
		margin: 10px;
		font-size: 15px;
		font-family: Oxygen, Ubuntu, Cantarell;
		border-radius: 5px;
		border: 1px solid #bbb;
	}
	button {
		font-size: 17px;
		color: $btnColor;
		background: $primaryColor;
		@include bghover;
	}
}
@mixin backtoTop {
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 50px;
	right: 40px;
	border-radius: 50%;
	background: #11d42e;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 5;
	cursor: pointer;
	box-shadow: 0 0 5px 0px #fff, 0 0 9px 1px #11d42e;
	.fa {
		color: #fff;
		font-size: 50px;
	}
}
@mixin toggleBtn {
	color: #fff;
	.line {
		height: 3px;
		width: 50px;
		margin: 6px 0;
		margin-left: auto;
		border-radius: 5px;
		background: #fff;
		&:nth-child(2) {
			width: 35px;
		}
		&:nth-child(3) {
			width: 42px;
		}
	}
}
@mixin texthover($color: $primaryColor) {
	&:hover {
		border-color: darken($color: $primaryColor, $amount: 10%);
		color: darken($color: $primaryColor, $amount: 10%);
	}
}
@mixin bghover($color: $primaryColor) {
	&:hover {
		background-color: darken($color: $primaryColor, $amount: 10%);
	}
}
@mixin mobile {
	@media (max-width: 680px) {
		@content;
	}
}
@mixin bigscreen {
	@media (min-width: 680px) {
		@content;
	}
}
@mixin pc {
	@media (min-width: 780px) {
		@content;
	}
}
// REUSABLE CLASS
.hide {
	display: none;
}
.btn {
	padding: 10px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	font: {
		weight: bold;
		family: roboto;
	}
}
.social-menu {
	.fa {
		color: #fff;
		font-size: 22px;
		padding: 8px 10px;
		border-radius: 50%;
		margin: 5px;
		border: 1px solid #fff;
	}
}
